* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
    margin: 0 auto;
    max-width: 1000px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    text-align: center;
}

p {
    margin-bottom: 15px;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 15px;
    color: #35424a;
    text-align: center;
}

ul {
    list-style: none;
    margin-left: 20px;
    text-align: center;
}

ul li {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 350px;
    border-radius: 20px;
    position: relative;
    background-color: #b9b9b9;
    color: black;
}

ul li:hover {
    background-color: #35424a;
    color: white;
    cursor: pointer;
}


footer {
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;

}