/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Header Styles */
header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
    margin: 0 auto;
}

header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2em;
}

/* Main Styles */
main {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    text-align: center;
}

p {
    margin-bottom: 15px;
    text-align: center;
}

/* Section Styles Resources */
.secao-recursos {
    max-width: 800px;
    margin: 0 auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.secao-recursos h2 {
    margin-bottom: 15px;
    color: #35424a;
    text-align: center;
}

.secao-recursos ul {
    list-style: none;
    margin-left: 20px;
    text-align: center;
}

.secao-recursos ul li {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 350px;
    border-radius: 20px;
    position: relative;
    background-color: #b9b9b9;
    color: black;
}

.secao-recursos ul li:hover {
    background-color: #35424a;
    color: white;
    cursor: pointer;
}

.secao-recursos ul li a {
    text-decoration: none;
    color: inherit;
    display: block;
}

/*/ Section Styles Card */

.card-sessao {
    max-width: 800px;
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-sessao h2 {
    margin-bottom: 15px;
    color: #35424a;
    text-align: center;
}

.card-sessao ul {
    list-style: none;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 5px;
}

.card-sessao ul li {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 350px;
    border-radius: 10px;
    position: relative;
    background-color: #b9b9b9;
    color: black;
}

.card-sessao img {
    display: block;
    margin: 10px auto;
    margin-right: 10px;
    max-width: 100%;
    height: auto;
}

/* Extra Tips */

.dica-extra {
    background-color: #e2e2e2;
    border-left: 6px solid #35424a;
    margin: 20px 0;
    padding: 10px 15px;
}

/* Navigation */

.navegacao-final {
    text-align: center;
    margin-top: 20px;
}

.navegacao-final a {
    display: inline-block;
    margin: 0 10px 8px 10px;
    padding: 10px 20px;
    background-color: #35424a;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

/* Footer Styles */
footer {
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 20px;

}